h1 {
  font-size: 56px;
}
h2 {
  font-size: 40px;
}
h3 {
  font-size: 24px;
}
a,
p {
  font-size: 16px;
  text-decoration: none;
  color: #29323d;
}
input {
  min-height: 80px;
  height: 100%;
  background: #f9f9fa;
  border-radius: 10px;
  outline: 0;
  border: none;
  text-indent: 25px;
  font-size: 18px;
  font-weight: 500;
  color: #9eacbc;
}
input::placeholder {
  color: #9eacbc;
  font-weight: 500;
}
.btn {
  padding: 10px 20px;
  background: #7364e3;
  color: #fff;
  font-size: 18px;
  font-weight: 400;
  border: none;
  outline: 0;
  transition: 0.3s all;
}
.btn:hover {
  background: #4b4098;
}
/* navbar */
.logo {
  color: #7364e3;
}

.navbar__right ul {
  padding: 0;
  margin: 0;
  width: 370px;
  display: flex;
  justify-content: space-between;
}
.navbar__right ul li {
  list-style: none;
  /* display: inline-block;
  padding-left: 94px; */
}

.navbar__right ul li a {
  font-weight: 500;
}

.navbar__main {
  display: flex;
  justify-content: space-between;
  padding: 30px 0;
}

/* Banner */
.hero__main {
  background-image: url('./images/bg.png');
  background-repeat: no-repeat;
  background-position: right bottom;
  position: relative;
}
.dot1 {
  background-image: url('./images/dots.png');
  position: absolute;
  right: 22px;
  bottom: 0;
  z-index: 9999;
  background-repeat: no-repeat;
  background-position: right bottom;
  height: 100%;
  width: 12px;
}
.dot2 {
  background-image: url('./images/dots.png');
  position: absolute;
  right: 22px;
  bottom: 279px;
  z-index: 9999;
  background-repeat: no-repeat;
  background-position: right bottom;
  height: 100%;
  width: 12px;
}
.hero__wrapper {
  display: grid;
  grid-template-columns: repeat(2, 1fr);
}
.hero__left {
  max-width: 370px;
  width: 100%;
  align-self: center;
}
.hero__left h1 {
  color: #29323d;
}
.hero__left p {
  font-size: 20px;
  margin: 40px 0;
  color: #9eacbc;
  font-weight: 500;
}

.hero__wrapper img {
  max-width: 100%;
  justify-self: flex-end;
  filter: drop-shadow(16px 15px 32px rgba(0, 0, 0, 0.4));
}

/* Experience */
.experience {
  width: 100%;
  background-color: #f9f9fa;
  margin-bottom: 218px;
  position: relative;
}
.experience::before {
  content: 'Experience';
  font-weight: bold;
  height: 100%;
  font-size: 40px;
  text-transform: uppercase;
  position: absolute;
  color: #dedede;
  left: 0;
  top: 50%;
  transform: translate(20px, -48%);
}
.experience__wrapper {
  height: 400px;
  display: grid;
  gap: 30px;
  grid-template-columns: 1fr 3fr;
}
.left__experience {
  max-width: 270px;
  height: 300px;
  width: 100%;
  text-align: center;
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-self: flex-end;
}
.left__experience h1 {
  color: #7364e3;
  font-weight: 700;
}

.left__experience h3 {
  font-weight: 700;
}

.box {
  height: 270px;
  width: 240px;
  box-shadow: 0 0 4px 0px rgb(41 50 61 / 25%);
  display: flex;
  flex-direction: column;
  justify-content: flex-end;
  padding-left: 30px;
  padding-bottom: 30px;
  background: #f6f6f8;
  transition: 0.3s all;
}
.box:hover {
  background: #7364e3;
}
.box:hover > h3 {
  color: #fff;
}
.box a {
  display: flex;
  align-items: center;
  gap: 10px;
  color: #9eacbc;
}
.box svg path {
  fill: #756fe3;
}
.box:hover > svg path {
  fill: #fff;
}
.right__experience {
  position: relative;
}
.experience__right__wrapper {
  display: grid;
  grid-template-columns: repeat(3, 1fr);
  grid-gap: 30px;
  position: absolute;
  bottom: -110px;
}
.experience__title {
  padding-top: 90px;
}
.experience__box__title {
  max-width: 139px;
  width: 100%;
  margin-bottom: 20px;
}

/* Works */
.works {
  background: #f9f9fa;
  padding: 30px 0;
  position: relative;
}

.works::before {
  content: 'Works';
  font-weight: bold;
  height: 100%;
  font-size: 40px;
  text-transform: uppercase;
  position: absolute;
  color: #dedede;
  left: 0;
  top: 50%;
  transform: translate(20px, -48%);
}
.carousel__item {
  display: grid;
  grid-template-columns: 1fr 1fr;
  gap: 30px;
}
.carousel__left {
  max-width: 100%;
  width: 100%;
  overflow: hidden;
  border-radius: 20px;
  height: 300px;
}
.carousel__left img {
  height: 100%;
}
.carousel__right {
  max-width: 100%;
  width: 100%;
  display: flex;
  flex-direction: column;
  justify-content: center;
}
.project__title {
  color: #756fe3;
}
.project__description {
  margin: 10px 0;
}
.project__technologies ul {
  display: flex;
  max-width: 100%;
  width: 100%;
  flex-wrap: wrap;
  gap: 5px;
}
.project__technologies ul li {
  list-style: none;
  text-transform: uppercase;
  font-weight: 500;
  color: #fff;
  background: #756fe3;
  font-size: 16px;
  padding: 5px 12px;
  border-radius: 4px;
  cursor: pointer;
  transition: 0.3s all;
}
.project__technologies ul li:hover {
  background: #4d4992;
}
.repo__link {
  background: #9eacbc !important;
  transition: 0.3s all;
  color: #fff;
}
.repo__link a {
  color: #fff;
}
.repo__link:hover {
  background: #4d4992;
}
.owl-nav {
  margin: 0;
  position: absolute;
  bottom: 0;
  right: 0;
  width: 49%;
  display: flex;
  justify-content: space-between;
}
.owl-prev svg path,
.owl-next svg path {
  fill: #7364e3;
}
.owl-prev:hover,
.owl-next:hover {
  background: none !important;
}

/* Contact */
.contact {
  max-width: 100%;
  width: 100%;
  background-image: url('./images/contact-bg.png');
  background-repeat: no-repeat;
  background-position: left bottom;
  padding: 100px 0;
}
.contact__wrapper {
  max-width: 100%;
  width: 100%;
  display: grid;
  grid-template-columns: repeat(2, 1fr);
  gap: 30px;
}

.contact__left {
  display: flex;
  flex-direction: column;
  gap: 35px;
}

.contact__description {
  font-size: 18px;
  color: #9eacbc;
}
.social {
  display: flex;
  gap: 40px;
}

.contact__right {
  display: flex;
  flex-direction: column;
  gap: 35px;
}

.contact__form {
  display: flex;
  flex-direction: column;
  gap: 35px;
}
.contact__btn {
  max-width: 86px;
  width: 100%;
  cursor: pointer;
}
